mixin header1
    header.header
        .header-top
            .header-top__cont
                .header-top__logo
                    a(href="#").logo
                        img(src="img/logo.png" alt="logo")
                    a(href="#").white-logo
                        img(src="img/white-logo.png" alt="logo")

                .header-top__menu
                    button.btn-open-nav
                        span.main-menu-btn-icon
                    ul.header-top__list
                        li
                            a(href="#").dark-link.is-uppercase Sign up
                        li
                            a(href="#").dark-link.is-uppercase Log in
                        li
                            a(href="#").dark-link.is-uppercase Register as a freelancer
                        li
                            a(href="#").dark-link.is-uppercase Learn more
mixin header_customer
    header.header
        .header-top
            .header-top__cont
                .header-top__logo
                    a(href="#").logo
                        img(src="img/logo.png" alt="logo")
                    a(href="#").white-logo
                        img(src="img/white-logo.png" alt="logo")

                .header-top__menu
                    button.btn-open-nav
                        span.main-menu-btn-icon
                    ul.header-top__list
                        li
                            a(href="#").dark-link.is-uppercase Sign up
                        li
                            a(href="#").dark-link.is-uppercase Log in
                        li
                            a(href="#").dark-link.is-uppercase Register as a freelancer
                        li
                            a(href="#").dark-link.is-uppercase help center