head
    meta(charset="UTF-8")
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")


    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")

    link(rel='stylesheet' href="js/chosen/chosen.min.css")
    script(src="js/chosen/chosen.jquery.min.js")

    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
    script(src='https://cdn.jsdelivr.net/npm/flatpickr')

    script(src="js/tags-input/jquery.tagsinput.js")
    link(type='text/css', rel='stylesheet', href="js/tags-input/jquery.tagsinput.css")

    link(type='text/css', rel='stylesheet', href="styles.css")
    script(src="js/script.js")
