mixin sidebar
    .sidebar
        a(href='#').sidebar__logo
            img(src='img/logo.png' alt='logo')
        ul.sidebar__nav
            li
                a(href='#')
                    span.menu-icon
                        i.fas.fa-tachometer-alt
                    span.menu-txt Home
            li
                a(href='#')
                    span.menu-icon
                        i.far.fa-calendar-alt
                    span.menu-txt Appointment
            li
                a(href='#')
                    span.menu-icon
                        i.fas.fa-users
                    span.menu-txt Request
            li
                a(href='#')
                    span.menu-icon
                        i.far.fa-envelope
                    span.menu-txt Messages
            li.active
                a(href='#')
                    span.menu-icon
                        i.far.fa-heart
                    span.menu-txt Favourites
            li
                a(href='#')
                    span.menu-icon
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 64 64', xmlns:xlink='http://www.w3.org/1999/xlink', width='22', height='22')
                            path(data-name='layer2', d='M49 24a14.7 14.7 0 0 1 0 22.1m5.5-27a20.6 20.6 0 0 1 .1 31.9M30 24l-9 8h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6l9 8z', fill='none', stroke='#5e3d55', stroke-miterlimit='10', stroke-width='4', stroke-linejoin='round', stroke-linecap='round')
                            path(data-name='layer1', d='M2 11v40a5 5 0 0 0 5 5h35V16H7A5 5 0 0 1 7 6h31v10', fill='none', stroke='#5e3d55', stroke-miterlimit='10', stroke-width='5', stroke-linejoin='round', stroke-linecap='round')
                    span.menu-txt Jobs
            li
                a(href='#')
                    span.menu-icon
                        i.fas.fa-file-alt
                    span.menu-txt Invoices
            li
                a(href='#')
                    span.menu-icon
                        i.fas.fa-cog
                    span.menu-txt Settings
            li
                a(href='#')
                    span.menu-icon
                        i.far.fa-question-circle
                    span.menu-txt Help
            li
                a(href='#')
                    span.menu-icon
                        i.fas.fa-sign-out-alt
                    span.menu-txt Switch Account
mixin sidebar_client
    .sidebar
        a(href='#').sidebar__logo
            img(src='img/logo.png' alt='logo')
        ul.sidebar__nav
            li
                a(href='#')
                    span.menu-icon
                        i.fas.fa-tachometer-alt
                    span.menu-txt Home
            li
                a(href='#')
                    span.menu-icon
                        i.far.fa-calendar-alt
                    span.menu-txt Appointment
            li
                a(href='#')
                    span.menu-icon
                        i.fas.fa-users
                    span.menu-txt Request
            li
                a(href='#')
                    span.menu-icon
                        i.far.fa-envelope
                    span.menu-txt Messages
            li.active
                a(href='#')
                    span.menu-icon
                        i.far.fa-heart
                    span.menu-txt Favourites
            li
                a(href='#')
                    span.menu-icon
                        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 64 64', xmlns:xlink='http://www.w3.org/1999/xlink', width='22', height='22')
                            path(data-name='layer1', fill='none', stroke='#5e3d55', stroke-miterlimit='10', stroke-width='4', d='M10 10h30', stroke-linejoin='round', stroke-linecap='round')
                            path(data-name='layer2', d='M32 56H10a8 8 0 0 1-8-8V10', fill='none', stroke='#5e3d55', stroke-miterlimit='10', stroke-width='4', stroke-linejoin='round', stroke-linecap='round')
                            path(data-name='layer2', d='M42 2H10a8 8 0 0 0 0 16h32v25', fill='none', stroke='#5e3d55', stroke-miterlimit='10', stroke-width='4', stroke-linejoin='round', stroke-linecap='round')
                            path(data-name='layer1', fill='none', stroke='#5e3d55', stroke-miterlimit='10', stroke-width='3', d='M55 30L34.2 50.7 29.8 62l11.4-4.3L62 37l-7-7zM34.2 50.7l7 7', stroke-linejoin='round', stroke-linecap='round')
                    span.menu-txt Jobs
            li
                a(href='#')
                    span.menu-icon
                        i.fas.fa-file-alt
                    span.menu-txt Invoices
            li
                a(href='#')
                    span.menu-icon
                        i.fas.fa-cog
                    span.menu-txt Settings
            li
                a(href='#')
                    span.menu-icon
                        i.far.fa-question-circle
                    span.menu-txt Help
            li
                a(href='#')
                    span.menu-icon
                        i.fas.fa-sign-out-alt
                    span.menu-txt Switch Account