<!DOCTYPE html>
html(lang="en")
    - var title = 'index'
    include ../blocks/head
    body
        .wrapper
            include ../blocks/header
            +header1
            section.popular
                .container
                    h3.title-def Popular Freelancers near your area
                    p.subtitle-def.m-t-20 From House Painting To Personal Training, We Bring You The Right Pros For Every<br> Project On Your List.
                    .right-btn.m-b-40
                        button.button.button_pr Explore all freelancers
                .container.container_slider
                    .popular-slider
                            .profile-item
                                .darker-bg
                                    img(src="img/sl-1.png" alt='img-1').main
                                .profile-item__info
                                    .columns.is-gapless.is-mobile.flex-sb.w100
                                        .column
                                            .name Ryan
                                                .m-t-5 Photographer
                                            .location
                                                i.fas.fa-map-marker-alt
                                                span 2 miles  away
                                        .column.has-text-centered.flex-end.btn-sl
                                            button.button.button_book Book
                            .profile-item
                                .darker-bg
                                    img(src="img/sl2.png" alt='img-1').main
                                .profile-item__info
                                    .columns.is-gapless.is-mobile.flex-sb.w100
                                        .column
                                            .name Ryan
                                                .m-t-5 Photographer
                                            .location
                                                i.fas.fa-map-marker-alt
                                                span 2 miles  away
                                        .column.has-text-centered.flex-end.btn-sl
                                            button.button.button_book Book

                            .profile-item
                                .darker-bg
                                    img(src="img/sl-3.png" alt='img-1').main
                                .profile-item__info
                                    .columns.is-gapless.is-mobile.flex-sb.w100
                                        .column
                                            .name Ryan
                                                .m-t-5 Photographer
                                            .location
                                                i.fas.fa-map-marker-alt
                                                span 2 miles  away
                                        .column.has-text-centered.flex-end.btn-sl
                                            button.button.button_book Book

                            .profile-item
                                .darker-bg
                                    img(src="img/sl-4.png" alt='img-1').main
                                .profile-item__info
                                    .columns.is-gapless.is-mobile.flex-sb.w100
                                        .column
                                            .name Ryan
                                                .m-t-5 Photographer
                                            .location
                                                i.fas.fa-map-marker-alt
                                                span 2 miles  away
                                        .column.has-text-centered.flex-end.btn-sl
                                            button.button.button_book Book

                            .profile-item
                                .darker-bg
                                    img(src="img/img-1.png" alt='img-1').main
                                .profile-item__info
                                    .columns.is-gapless.is-mobile.flex-sb.w100
                                        .column
                                            .name Ryan
                                                .m-t-5 Photographer
                                            .location
                                                i.fas.fa-map-marker-alt
                                                span 2 miles  away
                                        .column.has-text-centered.flex-end.btn-sl
                                            button.button.button_book Book

                            .profile-item
                                .darker-bg
                                    img(src="img/img-1.png" alt='img-1').main
                                .profile-item__info
                                    .columns.is-gapless.is-mobile.flex-sb.w100
                                        .column
                                            .name Ryan
                                                .m-t-5 Photographer
                                            .location
                                                i.fas.fa-map-marker-alt
                                                span 2 miles  away
                                        .column.has-text-centered.flex-end.btn-sl
                                            button.button.button_book Book
                            .profile-item
                                .darker-bg
                                    img(src="img/img-1.png" alt='img-1').main
                                .profile-item__info
                                    .columns.is-gapless.is-mobile.flex-sb.w100
                                        .column
                                            .name Ryan
                                                .m-t-5 Photographer
                                            .location
                                                i.fas.fa-map-marker-alt
                                                span 2 miles  away
                                        .column.has-text-centered.flex-end.btn-sl
                                            button.button.button_book Book

                            .profile-item
                                .darker-bg
                                    img(src="img/img-1.png" alt='img-1').main
                                .profile-item__info
                                    .columns.is-gapless.is-mobile.flex-sb.w100
                                        .column
                                            .name Ryan
                                                .m-t-5 Photographer
                                            .location
                                                i.fas.fa-map-marker-alt
                                                span 2 miles  away
                                        .column.has-text-centered.flex-end.btn-sl
                                            button.button.button_book Book

                            .profile-item
                                .darker-bg
                                    img(src="img/img-1.png" alt='img-1').main
                                .profile-item__info
                                    .columns.is-gapless.is-mobile.flex-sb.w100
                                        .column
                                            .name Ryan
                                                .m-t-5 Photographer
                                            .location
                                                i.fas.fa-map-marker-alt
                                                span 2 miles  away
                                        .column.has-text-centered.flex-end.btn-sl
                                            button.button.button_book Book

                            .profile-item
                                .darker-bg
                                    img(src="img/img-1.png" alt='img-1').main
                                .profile-item__info
                                    .columns.is-gapless.is-mobile.flex-sb.w100
                                        .column
                                            .name Ryan
                                                .m-t-5 Photographer
                                            .location
                                                i.fas.fa-map-marker-alt
                                                span 2 miles  away
                                        .column.has-text-centered.flex-end.btn-sl
                                            button.button.button_book Book
            section.discover
                .container
                    h3.title-def Discover Fashion & Lifestyle Professionals
                    p.subtitle-def.m-t-20 Find Skilled Pros for Events, Home Services, Lessons, Wellness and many more.<br>Compare professionals. Get free estimates. Read trusted reviews. Hire with confidence.<br>30,000+ requests a day.
                    .right-btn.m-b-40
                        button.button.button_pr Explore all services
                .discover-slider
                    .profile-item
                        .darker-bg.darker-bg_more
                            img(src="img/sl-1.png" alt='img-1')
                        .profile-item__service
                            .service-img
                                img(src="img/d-1.png" alt='img-1')
                            .service-title Fashion Designer
                            .service-txt People of any age or gender can hire a consultant to help them refine their wardrobe and get their closet into stylish shape.
                            a(href='#').service-link Find Out More

                    .profile-item
                        .darker-bg.darker-bg_more
                            img(src="img/sl2.png" alt='img-1')
                        .profile-item__service
                            .service-img
                                img(src="img/d-1.png" alt='img-1')
                            .service-title Fashion Designer
                            .service-txt People of any age or gender can hire a consultant to help them refine their wardrobe and get their closet into stylish shape.
                            a(href='#').service-link Find Out More

                    .profile-item
                        .darker-bg.darker-bg_more
                            img(src="img/sl-3.png" alt='img-1')
                        .profile-item__service
                            .service-img
                                img(src="img/d-1.png" alt='img-1')
                            .service-title Fashion Designer
                            .service-txt People of any age or gender can hire a consultant to help them refine their wardrobe and get their closet into stylish shape.
                            a(href='#').service-link Find Out More

                    .profile-item
                        .darker-bg.darker-bg_more
                            img(src="img/sl-4.png" alt='img-1')
                        .profile-item__service
                            .service-img
                                img(src="img/d-1.png" alt='img-1')
                            .service-title Fashion Designer
                            .service-txt People of any age or gender can hire a consultant to help them refine their wardrobe and get their closet into stylish shape.
                            a(href='#').service-link Find Out More

                    .profile-item
                        .darker-bg.darker-bg_more
                            img(src="img/sl-3.png" alt='img-1')
                        .profile-item__service
                            .service-img
                                img(src="img/d-1.png" alt='img-1')
                            .service-title Fashion Designer
                            .service-txt People of any age or gender can hire a consultant to help them refine their wardrobe and get their closet into stylish shape.
                            a(href='#').service-link Find Out More

                    .profile-item
                        .darker-bg.darker-bg_more
                            img(src="img/sl-3.png" alt='img-1')
                        .profile-item__service
                            .service-img
                                img(src="img/d-1.png" alt='img-1')
                            .service-title Fashion Designer
                            .service-txt People of any age or gender can hire a consultant to help them refine their wardrobe and get their closet into stylish shape.
                            a(href='#').service-link Find Out More
                    .profile-item
                        .darker-bg.darker-bg_more
                            img(src="img/sl-3.png" alt='img-1')
                        .profile-item__service
                            .service-img
                                img(src="img/d-1.png" alt='img-1')
                            .service-title Fashion Designer
                            .service-txt People of any age or gender can hire a consultant to help them refine their wardrobe and get their closet into stylish shape.
                            a(href='#').service-link Find Out More
                    .profile-item
                        .darker-bg.darker-bg_more
                            img(src="img/sl-3.png" alt='img-1')
                        .profile-item__service
                            .service-img
                                img(src="img/d-1.png" alt='img-1')
                            .service-title Fashion Designer
                            .service-txt People of any age or gender can hire a consultant to help them refine their wardrobe and get their closet into stylish shape.
                            a(href='#').service-link Find Out More
                    .profile-item
                        .darker-bg.darker-bg_more
                            img(src="img/sl-3.png" alt='img-1')
                        .profile-item__service
                            .service-img
                                img(src="img/d-1.png" alt='img-1')
                            .service-title Fashion Designer
                            .service-txt People of any age or gender can hire a consultant to help them refine their wardrobe and get their closet into stylish shape.
                            a(href='#').service-link Find Out More
                    .profile-item
                        .darker-bg.darker-bg_more
                            img(src="img/sl-3.png" alt='img-1')
                        .profile-item__service
                            .service-img
                                img(src="img/d-1.png" alt='img-1')
                            .service-title Fashion Designer
                            .service-txt People of any age or gender can hire a consultant to help them refine their wardrobe and get their closet into stylish shape.
                            a(href='#').service-link Find Out More
            section.consultants
                .container.container_consultants.h100
                    .has-text-centered
                        h3.title-def Wardrobe Consultants for hire
                        p.subtitle-def.m-t-20 Register As A Fashion and Lifestyle Freelancer, By Setting Up Your Profile As An Individual or A Business.
                        .m-t-20
                            button.button.button_pr.m-w-200 Explore More
                        a(href='#').img-7
                            img(src='img/con/steve.png' alt='img')
                            .has-text-centered Cindy <br> New York
                    .consultants__left
                        a(href='#').img-1
                            img(src='img/con/ryan.png' alt='img')
                            .has-text-centered
                                span Cindy <br> New York
                        a(href='#').img-2
                            img(src='img/con/max.png' alt='img')
                            .has-text-centered
                                span Cindy <br> New York
                        a(href='#').img-3
                            img(src='img/con/mia.png' alt='img')
                            .has-text-centered
                                span Cindy <br> New York
                    .consultants__right
                        a(href='#').img-4
                            img(src='img/con/jeni.png' alt='img')
                            .has-text-centered
                                span Cindy <br> New York
                        a(href='#').img-5
                            img(src='img/con/ben.png' alt='img')
                            .has-text-centered
                                span Cindy <br> New York
                        a(href='#').img-6
                            img(src='img/con/cindy.png' alt='img')
                            .has-text-centered
                                span Cindy <br> New York
            section.register.is-flex.is-flex_center.has-text-centered
                h3.title-def.has-text-white Register as a Freelancer
                p.subtitle-def.m-t-20.has-text-white Sign up. Create a beautiful profile. Get new clients.
                .m-t-20
                    button.button.button_white.m-w-200 Get Started
            footer.footer
                .container
                    .footer__links
                        .columns
                            .column
                                ul.footer__links-list
                                    li
                                        a(href="#") How it works
                                    li
                                        a(href="#") Services
                                    li
                                        a(href="#") Mobile <sup>BETA</sup>
                            .column
                                ul.footer__links-list
                                    li
                                        a(href="#") Press inquiries
                                    li
                                        a(href="#") About us
                                    li
                                        a(href="#") BLOG
                            .column
                                ul.footer__links-list
                                    li
                                        a(href="#") Support
                                    li
                                        a(href="#") Contact us
                                    li
                                        a(href="#") FAQs
                                    li.social
                                        a(href="#")
                                            i.fab.fa-instagram
                                        a(href="#")
                                            i.fab.fa-twitter
                                        a(href="#")
                                            i.fab.fa-facebook-f
                    .footer__bot
                        .copy © 2019 AKO Services Inc.
                        .bot-links
                            a(href="#") Terms of Use
                            a(href="#") Privacy Policy