<!DOCTYPE html>
html(lang="en")
    - var title = 'Listpage'
    include ../blocks/head
    body
        .wrapper.is-flex.is-flex_center.listpage
            .logo-top
                a(href="#")
                    img(src="img/logo.png" alt="logo")
            .middle-sec
                img(src="img/listpage/top-img.png" alt="logo")
            .text-block
                img(src="img/listpage/img-1.png" alt="img-1").text-block__img.text-block__img_1
                img(src="img/listpage/img-2.png" alt="img-1").text-block__img.text-block__img_2
                img(src="img/listpage/img-3.png" alt="img-1").text-block__img.text-block__img_3
                img(src="img/listpage/img-4.png" alt="img-1").text-block__img.text-block__img_4
                .title-def.title-def_lp.has-text-centered You’re on of the Premium 300 list
                .subtitle-def.subtitle-def_lp.has-text-centered "You’ll be the first to know and explore Ako Premium when it is available."
            .m-t-25.btn-lp.has-text-centered
                a(href="#").button.button_pr.button_lp BACK TO AKO
                img(src="img/listpage/btn-bg.png" alt="bg")