<!DOCTYPE html>
html(lang="en")
    - var title = 'Prices'
    include ../blocks/head
    body
        .wrapper
            include ../blocks/header
            +header1
            .content-page
                section.title-container
                    h3.title-def.has-text-centered Select the right Ako plan for you
                section.plans
                    .container
                        .columns.is-centered.is-variable.is-8.is-multiline
                            .column.is-5-desktop.is-half-tablet
                                .plans__item
                                    h2.plans-title.has-text-centered Essential
                                    h3.plans-price.has-text-centered Free
                                    p.plans-con.has-text-centered Connects per month
                                    p.subtitle-def.has-text-centered.is-size-6 10 Freelancers Only
                                    ul
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Create your service profile
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Create your price-list
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Add images to your portfolio
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Set your schedule and availability
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Access to unlimited client searches
                                        li
                                            .check
                                            span.plans-txt.plans-txt_grey Apply custom badges to your profile
                                        li
                                            .check
                                            span.plans-txt.plans-txt_grey Custom search tags for your profile and business to be easily discovered
                                        li
                                            .check
                                            span.plans-txt.plans-txt_grey Unlimited service requests from clients
                                        li
                                            .check
                                            span.plans-txt.plans-txt_grey Unlimited messages from clients
                                        li
                                            .check
                                            span.plans-txt.plans-txt_grey Exclusive access to client job postings
                                        li
                                            .check
                                            span.plans-txt.plans-txt_grey Exclusive access to new features -

                                    .m-t-50.fl-cent
                                        button.button.button_pr.m-w-200.is-size-5 Choose Plan
                            .column.is-5-desktop.is-half-tablet
                                .plans__item.plans__item_gold
                                    h2.plans-title.has-text-centered Premium
                                    h3.plans-price.has-text-centered 70
                                    p.plans-con.has-text-centered Connects per month
                                    p.subtitle-def.has-text-centered.is-size-6 300 Freelancers Only
                                    ul
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Create your service profile
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Create your price-list
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Add images to your portfolio
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Set your schedule and availability
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Access to unlimited client searches
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Apply custom badges to your profile
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Custom search tags for your profile and business to be easily discovered
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Unlimited service requests from clients
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Unlimited messages from clients
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Exclusive access to client job postings
                                        li
                                            .check
                                                img(src='img/check.png' alt='check')
                                            span.plans-txt Exclusive access to new features -

                                    .m-t-50.fl-cent
                                        button.button.button_golden.m-w-200.is-size-5 Choose Plan
                                .m-t-45.has-text-centered.is-size-6 * Recommended for you
                section.pricing-banner
                    .container
                        h3.pricing-banner__title Pricing built for<br> <span class="bigger-text">businesses</span><br>of all sizes
                        .m-t-25
                            button.button.button_price.m-w-200 Know More
                section.faq
                    .container
                        h3.title-def.has-text-centered Frequently Asked Questions
                        p.subtitle-def.has-text-centered.m-t-20 Sed lectus massa, accumsan id congue sit amet, dapibus quis odio.
                        .faq__item.m-t-50
                            h4.faq-title Judicial Process & Support I thoroughly recommend you for a First-Class professional service.
                            p.txt-def.m-t-20.faq-cont Nunc sed bibendum massa. Sed tristique justo sed turpis aliquet, ac pellentesque mauris malesuada. In hac habitasse platea dictumst. Proin tempor diam quam. Vestibulum pretium ullamcorper porta. Curabitur nisi eros, consequat quis faucibus non, ullamcorper eu odio. Phasellus accumsan mi nec est pulvinar sagittis. Quisque felis nisi, dignissim a enim a, dictum pharetra dui.
                        .faq__item.m-t-35
                            h4.faq-title Fusce imperdiet, sem et vestibulum gravida, elit lectus rhoncus dui, ac dictum magna tellus ut dolor.
                            p.txt-def.m-t-20.faq-cont Nunc sed bibendum massa. Sed tristique justo sed turpis aliquet, ac pellentesque mauris malesuada. In hac habitasse platea dictumst. Proin tempor diam quam. Vestibulum pretium ullamcorper porta. Curabitur nisi eros, consequat quis faucibus non, ullamcorper eu odio. Phasellus accumsan mi nec est pulvinar sagittis. Quisque felis nisi, dignissim a enim a, dictum pharetra dui.
                        .faq__item.m-t-35
                            h4.faq-title usce fermentum mauris eget bibendum gravida.
                            p.txt-def.m-t-20.faq-cont Nunc sed bibendum massa. Sed tristique justo sed turpis aliquet, ac pellentesque mauris malesuada. In hac habitasse platea dictumst. Proin tempor diam quam. Vestibulum pretium ullamcorper porta. Curabitur nisi eros, consequat quis faucibus non, ullamcorper eu odio. Phasellus accumsan mi nec est pulvinar sagittis. Quisque felis nisi, dignissim a enim a, dictum pharetra dui.
                        .faq__item.m-t-35
                            h4.faq-title Phasellus quam ligula, aliquet sit amet sem in.
                            p.txt-def.m-t-20.faq-cont Nunc sed bibendum massa. Sed tristique justo sed turpis aliquet, ac pellentesque mauris malesuada. In hac habitasse platea dictumst. Proin tempor diam quam. Vestibulum pretium ullamcorper porta. Curabitur nisi eros, consequat quis faucibus non, ullamcorper eu odio. Phasellus accumsan mi nec est pulvinar sagittis. Quisque felis nisi, dignissim a enim a, dictum pharetra dui.
                section.upgrade
                    .container
                        .upgrade__button
                            span.txt-def.is-size-5 Try Ako Premium for 30 days
                            button.button.button_pr.m-w-200 Upgrade Now

            footer.footer
                .container
                    .footer__links
                        .columns
                            .column
                                ul.footer__links-list
                                    li
                                        a(href="#") How it works
                                    li
                                        a(href="#") Services
                                    li
                                        a(href="#") Mobile <sup>BETA</sup>
                            .column
                                ul.footer__links-list
                                    li
                                        a(href="#") Press inquiries
                                    li
                                        a(href="#") About us
                                    li
                                        a(href="#") BLOG
                            .column
                                ul.footer__links-list
                                    li
                                        a(href="#") Support
                                    li
                                        a(href="#") Contact us
                                    li
                                        a(href="#") FAQs
                                    li.social
                                        a(href="#")
                                            i.fab.fa-instagram
                                        a(href="#")
                                            i.fab.fa-twitter
                                        a(href="#")
                                            i.fab.fa-facebook-f
                    .footer__bot
                        .copy © 2019 AKO Services Inc.
                        .bot-links
                            a(href="#") Terms of Use
                            a(href="#") Privacy Policy