
@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/SofiaProBold.eot');
  src: local('Sofia Pro Bold'), local('SofiaProBold'),
          url('fonts/SofiaProBold.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProBold.woff') format('woff'),
          url('fonts/SofiaProBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/SofiaProExtraLight.eot');
  src: local('Sofia Pro ExtraLight'), local('SofiaProExtraLight'),
          url('fonts/SofiaProExtraLight.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProExtraLight.woff') format('woff'),
          url('fonts/SofiaProExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/SofiaProBold-Italic.eot');
  src: local('Sofia Pro Bold Italic'), local('SofiaProBold-Italic'),
          url('fonts/SofiaProBold-Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProBold-Italic.woff') format('woff'),
          url('fonts/SofiaProBold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/SofiaProRegular.eot');
  src: local('Sofia Pro Regular'), local('SofiaProRegular'),
          url('fonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProRegular.woff') format('woff'),
          url('fonts/SofiaProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/SofiaProMedium-Italic.eot');
  src: local('Sofia Pro Medium Italic'), local('SofiaProMedium-Italic'),
          url('fonts/SofiaProMedium-Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProMedium-Italic.woff') format('woff'),
          url('fonts/SofiaProMedium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/SofiaProExtraLight-Italic.eot');
  src: local('Sofia Pro ExtraLight Italic'), local('SofiaProExtraLight-Italic'),
          url('fonts/SofiaProExtraLight-Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProExtraLight-Italic.woff') format('woff'),
          url('fonts/SofiaProExtraLight-Italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/SofiaProMedium.eot');
  src: local('Sofia Pro Medium'), local('SofiaProMedium'),
          url('fonts/SofiaProMedium.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProMedium.woff') format('woff'),
          url('fonts/SofiaProMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/SofiaProUltraLight-Italic.eot');
  src: local('Sofia Pro UltraLight Italic'), local('SofiaProUltraLight-Italic'),
          url('fonts/SofiaProUltraLight-Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProUltraLight-Italic.woff') format('woff'),
          url('fonts/SofiaProUltraLight-Italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/SofiaProLight-Italic.eot');
  src: local('Sofia Pro Light Italic'), local('SofiaProLight-Italic'),
          url('fonts/SofiaProLight-Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProLight-Italic.woff') format('woff'),
          url('fonts/SofiaProLight-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/SofiaProBlack.eot');
  src: local('Sofia Pro Black'), local('SofiaProBlack'),
          url('fonts/SofiaProBlack.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProBlack.woff') format('woff'),
          url('fonts/SofiaProBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/SofiaProUltraLight.eot');
  src: local('Sofia Pro UltraLight'), local('SofiaProUltraLight'),
          url('fonts/SofiaProUltraLight.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProUltraLight.woff') format('woff'),
          url('fonts/SofiaProUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/SofiaProBlack-Italic.eot');
  src: local('Sofia Pro Black Italic'), local('SofiaProBlack-Italic'),
          url('fonts/SofiaProBlack-Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProBlack-Italic.woff') format('woff'),
          url('fonts/SofiaProBlack-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro Semi';
  src: url('fonts/SofiaProSemiBold-Italic.eot');
  src: local('Sofia Pro Semi Bold Italic'), local('SofiaProSemiBold-Italic'),
          url('fonts/SofiaProSemiBold-Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProSemiBold-Italic.woff') format('woff'),
          url('fonts/SofiaProSemiBold-Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/SofiaProLight.eot');
  src: local('Sofia Pro Light'), local('SofiaProLight'),
          url('fonts/SofiaProLight.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProLight.woff') format('woff'),
          url('fonts/SofiaProLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro Semi';
  src: url('fonts/SofiaProSemiBold.eot');
  src: local('Sofia Pro Semi Bold'), local('SofiaProSemiBold'),
          url('fonts/SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProSemiBold.woff') format('woff'),
          url('fonts/SofiaProSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('fonts/SofiaProRegular-Italic.eot');
  src: local('Sofia Pro Regular Italic'), local('SofiaProRegular-Italic'),
          url('fonts/SofiaProRegular-Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/SofiaProRegular-Italic.woff') format('woff'),
          url('fonts/SofiaProRegular-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

$sofia = Sofia Pro
$dirty-purple = #5e3d55
$brownish-grey = #5c5c5c

html
  font-size 16px

body
  font-family: $sofia
  font-size: 0.9375rem

.wrapper
  position: relative
  overflow: hidden
  min-height: 100vh

.container
  padding: 0 20px
  max-width: 1170px
  &_slider
    max-width 1650px
    width 100%
  &_consultants
    max-width 1650px
    width: calc(100% - 100px);
    margin: 0 auto;
.m-a
  margin: auto
.w100
  width 100%
.h100
  height 100%
.m-t-90
  margin-top: 90px
.m-t-70
  margin-top: 70px
.m-t-60
  margin-top: 60px
.m-t-50
  margin-top: 50px
.m-t-45
  margin-top: 45px
.m-t-40
  margin-top: 40px
.m-t-35
  margin-top: 35px
.m-t-30
  margin-top: 30px
.m-t-25
  margin-top: 25px
.m-t-20
  margin-top: 20px
.m-t-15
  margin-top: 15px
.m-t-10
  margin-top: 10px
.m-t-5
  margin-top: 5px

.m-r-10
  margin-right: 10px

.m-l-15
  margin-left: 15px
.m-l-10
  margin-left: 10px
.m-l-5
  margin-left: 5px
.m-b-15
  margin-bottom: 15px
.m-b-20
  margin-bottom: 20px
.m-b-30
  margin-bottom: 30px
.m-b-40
  margin-bottom: 40px



.flex-sb
  justify-content space-between
.flex-end
  display: flex
  align-items: flex-end
  justify-content flex-end
.align-end
  align-items flex-end
  height 100%
.fl-cent
  display: flex
  justify-content center
.fl-en
  display: flex
  justify-content flex-end
  @media (max-width 500px)
    justify-content center

a
  color: #214099
a,
button,
svg
  transition all 0.2s

.button-icon
  cursor: pointer
  display: inline-flex
  box-shadow: none
  border: none
  outline: none
  background: none

.button
  border-radius: 10px
  min-height 60px
  outline none
  padding 0 30px
  font-family: 'Sofia Pro';
  &_lp
    width: 195px;
    min-height 55px
  &_pr
    color #fff
    background-color: $dirty-purple
    border 1px solid transparent
    padding: 0 30px
    &:hover,
    &:focus
      color #fff
      border: solid 1px $dirty-purple
      background: #3e293a;
  &_pr-small
    border-radius: 20px
    min-height 40px
    text-transform uppercase
  &_white
    color $dirty-purple
    background-color #fff
    border 1px solid #fff
    &:hover
      color #fff
      background-color $dirty-purple
  &_tr
    color $dirty-purple
    border 1px solid $dirty-purple
    background-color transparent
    &:hover,
    &:focus
      color #fff
      background-color: #3e293a;
      border: solid 1px #3e293a

  &_book
    color $dirty-purple
    font-weight 700
    margin-left: 5px
    padding 0 20px
    min-height 30px
    &:hover,
    &:focus
      background: #eaeaea
  &_tab
    width 100%
    border-radius: 5px;
    border: 1px solid #e4e4e4
    background-color: #ffffff
    &.active
      color #fff
      background-color: $dirty-purple
  &_price
    color $dirty-purple
    background-color #ffffff
    font-size: 20px;
    &:hover,
    &:focus
      background: #eaeaea
  &_golden
    color #ffffff
    border 1px solid #fefda7
    background-image: linear-gradient(to left, #fdcc19 0%, rgb(247, 227, 191) 17%, #e6bf38 51%, #b08920 96%, #b08920 100%);
  &_dash
    min-height 50px
    border-radius 0
    &.active
      color #000
      box-shadow: -1px 9px 10px rgba(0, 0, 0, 0.07);
      border: 2px solid #5e3d55;
      background-color: #ffffff;
  &_featured
    font-family: 'Roboto', sans-serif;
    color: #88898C
    border none
    text-align: left
    background-color transparent
    &.active
      color $dirty-purple
    @media (max-width 530px)
      padding 0 5px
  &_green
    display inline-flex
    align-items center
    justify-content center
    color #FFFFFF
    background-color: #4baf4f
    font-size: 16px
    text-transform: uppercase
    min-height 60px
    padding 0 50px
    border-radius: 30px
    border transparent
    &_sm
      min-height: 40px
      line-height: 45px
    &:hover,
    &:focus
      color #fff
      background-color: darken(#4baf4f, 25%);
      border transparent

  &_pink
    color: #5e3d55
    font-size: 16px
    font-weight: 400
    min-height 40px
    border-radius: 20px
    background-color: #e9d4e6
    &:hover
      border-color darken(#5e3d55, 50%)
  &_inverse-purple
    color: #5e3d55
    font-size: 16px
    font-weight: 400
    min-height 40px
    border-radius: 20px
    background-color: transparent
    border: 2px solid #5e3d55
  &_small-purple
    min-height: 45px
    border-radius: 24px
    background-color: #583b53
    color: #ffffff
    font-size: 16px
    font-weight: 400
    padding: 0 30px
    &:active,
    &:focus,
    &:hover
      color #FFFFFF
      background-color lighten(#583b53, 30%)

.m-w-260
  min-width 260px
.m-w-160
  min-width 160px
.m-w-200
  min-width 200px

.darker-bg
  position: relative;
  &:before
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition all 0.3s ease
    background-color: rgba(0,0,0,0.25);
  &_more
    &:before
      background-color: rgba(0,0,0,0.70);
.dark-link
  color: #6f5169
.title-def
  color: #2e343b
  font-weight 500
  font-size: 2.55rem;
  line-height: 1.18;
  @media (max-width 411px)
    font-size: 1.6rem;
  &_small
    font-size: 1.8rem;
    @media (max-width 360px)
      font-size: 1.7rem;
  &_lp
    color: #000000
    font-size: 62px
    font-weight: 700
    @media (max-width 768px)
      font-size 44px
    @media (max-width 420px)
      font-size 35px
.title-grey
  color: #32373d
  font-size: 20px
  font-weight: 300
  white-space: nowrap
.subtitle-def
  color: #5c5c5c
  font-weight 400
  font-size: 1.1rem;
  line-height: 1.56;
  @media (max-width 411px)
    font-size: 1rem;
  &_lp
    color: #000000
    font-size: 30px
    font-weight: 500
    @media (max-width 768px)
      font-size 20px
    @media (max-width 420px)
      font-size 18px
.txt-def
  font-size: 1rem
  line-height: 1.73
  color: #88898C
  font-weight 400
  @media (max-width 375px)
    font-size: 0.9rem
.tag-def
  padding 4px 10px
  border-radius: 4px
  background-color: #e4e4e4
  font-size: 14px
  font-weight: 400
.right-btn
  text-align right
  @media (max-width 768px)
    margin-top: 20px
    text-align center
.help-cont
  width 100%
  text-align center
  color: lighten(#333333, 50%)
  font-size 16px
  &_try
    max-width 270px
  &_payment
    padding 0 50px
    text-align center
  @media (max-width 415px)
    &_try
      margin 20px auto 0
//header
.header
  position fixed
  width 100%
  background-color transparent
  overflow hidden
  z-index 99

.header-top
  position: relative
  z-index: 9

  &__cont
    display: flex
    justify-content space-between
    align-items center
    margin 0 auto
    padding 5px 20px
    height 72px
    @media screen and (max-width 900px)
      padding 0 20px
    @media screen and (max-width 525px)
      height 72px
  &__logo
    img
      width: 100%;
      max-width: 70px;
  &__menu
    display: flex

  &__list
    display: flex
    li:not(:last-child)
      margin-right: 30px
    a
      font-weight 500
      font-size: 14px
      font-family: 'Sofia Pro';

//header tabs
.hidden-tab
  display: none
.bg-header
  background-color: rgba(35,28,33,.8);
  .header-top__list a
    color #fff
.white-logo
  display: none
.bg-header .logo
  display: none
.bg-header .white-logo
  display: block
.bg-header .btn-open-nav
  background-color #fff
  border-radius: 4px;
.header-top__cont_open .header-top__list a
  color: #6f5169
.header-top__cont_open .header-top__logo
  .logo
    display: block
  .white-logo
    display: none

.header-tabs
  overflow hidden
  padding 170px 0 0
  @media (max-width 768px)
    padding 110px 0 0
.tab-content
  &__img
    img
      display: block
      width 100%
      max-height 820px
      object-fit cover
    @media (max-width 768px)
      display: none



//popular
.popular
  margin-top: 140px
  @media (max-width 768px)
    margin-top: 80px
  @media (max-width 360px)
    .btn-sl
      display: none
  .popular-slider

    .profile-item
      max-width 100%
      min-width auto
      @media (max-width 415px)
        max-height 300px
    @media (max-width 415px)
      margin 0 auto

.slick-slide
  outline: none
  margin: 0 10px

.slick-slider
  margin: 0 -15px
.slick-prev
  left: -5px
  i
    transform: rotate(180deg)

.slick-next
  right: -5px;
.slick-disabled {
  opacity: 0;
}
.slick-arrow
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid #e1e2e6;
  position: absolute;
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  outline: none;
  color: #5e3d55;
  z-index: 2;


//discover
.discover
  position relative
  margin-top: 90px
  .profile-item
    max-width: 100%;
    min-width: 1%;

.service

  &-title
    color #fff
    margin-top: 15px
    font-size: 24px
    font-weight: 700
    text-transform: uppercase

  &-txt
    color #fff
    margin-top: 15px
    font-size: 14px
    font-weight: 400
    line-height: 24px

  &-link
    display inline-block
    position relative
    color #fff
    margin-top: 25px
    font-size: 14px
    font-weight: 700
    line-height: 24px
    &:after
      content: ''
      display: inline-block;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      margin-left: 5px;
      padding: 3px;
      transform: rotate(-45deg);
    &:hover
      color #dadada


@media (max-width 1120px)
  .service-txt
    display: none
@media (max-width 850px)
  .service-img
    display: none
  .service-title
    text-align center
    font-size 20px
  .service-link
    margin-top: 10px
    text-align center

@media (max-width 500px)
  .service-title
    text-align center
    font-size 18px
    line-height: 19px

//profiles
.profiles
  padding-bottom: 130px
  @media (max-width 768px)
    padding-bottom: 60px
  &-items
    @media (max-width 500px)
      >.column
        width 100%
        display: flex
        justify-content: center
    @media (max-width 1440px)
      .column:nth-child(9),
      .column:nth-child(10)
        display: none
.profile-item
  position relative
  min-width 210px
  max-width 210px
  .main
    display: block
    object-fit: cover
    width: 100%
    max-height: 314px;
    @media (max-width 1471px)
      max-width: 100%
      max-height: 266px;
    @media (max-width 1279px)
      max-height: 218px;
    @media (max-width 939px)
      max-height 233px
    @media (max-width 769px)
      max-height 228px
    @media (max-width 450px)
      max-height 215px
    @media (max-width 360px)
      max-height 200px
    @media (max-width 320px)
      max-height 160px
  &__info
    width 100%
    position absolute
    display: flex
    align-items center
    padding 10px 15px
    bottom 0
    height: 75px
    line-height: 14px;
    font-size: 14px;
    color: #ffffff;
    font-weight 500
    background-color: rgba(0, 0, 0, 0.6);
    .name
      font-family: 'Roboto', sans-serif;
      font-weight 500
      @media (max-width 360px)
        text-align center
    .location
      font-family: 'Roboto', sans-serif;
      font-weight 500
      margin-top: 10px
      opacity: 0.5;
      color: #ffffff;
      font-size: 13px;
      i
        margin-right: 5px
      @media (max-width 360px)
        display: none

  &__service
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    display: flex
    flex-direction column
    justify-content center
    padding 0 40px
    @media (max-width 850px)
      padding 0 10px
  &:hover
    .darker-bg:before
      opacity 0
    .darker-bg_more:before
      opacity 0.85
//consultants
.consultants
  position relative
  margin-top: 150px
  height 550px
  img
    display: block
    border-radius 50%
    border: 3px solid #e2e2e2;
    background-color: #ffffff;
    margin 0 auto
  &__left
    width 40%
    height 100%
    position absolute
    top 0
    left 0
  &__right
    width 40%
    height 100%
    position absolute
    top 0
    right  0
  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-5,
  .img-6
    color: #333333
    position absolute
    img
      display: block
      border-radius 50%
      border: 3px solid #e2e2e2;
      background-color: #ffffff;
      max-width 197px
    span
      display: block
      margin-top: 5px
    @media (max-width 1600px)
      img
        max-width 150px
    @media (max-width 860px)
      img
        max-width 100px
  .img-1
    top 10%
    left 20%
  .img-2
    left 0
    bottom 10%
  .img-3
    right 20%
    bottom 5%
  .img-4
    top 10%
    right 20%
  .img-5
    left 20%
    bottom 5%
  .img-6
    right  0
    bottom 10%
  .img-7
    display: block
    margin-top: 80px
    color #000
  @media (max-width 1450px)
    .img-1
      top 20%
      left 28%
    .img-3
      right 15%
    .img-4
      top 20%
      right 28%
    .img-5
      left: 15%
  @media (max-width 1280px)
    .img-3
      right 5%
    .img-5
      left 5%
  @media (max-width 940px)
    .img-3,
    .img-5
      display: none
  @media (max-width 860px)
    margin-top: 50px
    height 450px
    .img-1
      top 35%
      left 35%
    .img-2,
    .img-6
      bottom 2%
    .img-4
      top 35%
      right 35%
  @media (max-width 720px)
    .img-1
      left 10%
    .img-4
      right 10%
  @media (max-width 570px)
    .img-1
      display: none
    .img-4
      display: none
  @media (max-width 420px)
    height 570px
    .img-2
      top 60%
      left -45px
    .img-6
      top 60%
      right -45px
  @media (max-width 375px)
    height 520px
    .img-2,
    .img-6
      top 55%
  @media (max-width 320px)
    height 550px
    .img-2
      top 60%
      left -45px
    .img-6
      top 60%
      right -45px

//register-sec
.register
  margin-top: 40px
  height 420px
  background url("img/reg-bg.png") no-repeat center
  background-size cover
  @media  (max-width 1024px)
    height 350px
  @media  (max-width 768px)
    height 300px
  @media (max-width 420px)
    padding 0 20px
//footer
.footer
  z-index: 0
  overflow: hidden
  position: relative
  padding: 0
  background: #fff

  &__top
    padding: 130px 20px 0
    z-index: 0
    position: relative
  &__logo
    img
      max-width: 70px
  &__btns
    padding 50px 0
    .button:not(:last-child)
      margin-right: 30px
    @media (max-width: 610px)
      .button:not(:last-child)
        margin-right: 0
        margin-bottom: 20px
  &__links
    padding: 35px 0 20px
    border-top solid 1px rgba($dirty-purple, 0.16)
    border-bottom solid 1px rgba($dirty-purple, 0.16)
  &__bot
    display: flex
    align-items: center
    justify-content: space-between
    height: 60px


.footer__links-list
  li
    text-align: center
    a
      font-size 0.875rem
      line-height 2.5
      text-align center
      color $brownish-grey
      text-transform: uppercase
      &:hover
        color: $dirty-purple

    &.social
      a
        margin: 0 10px
        color: #6c4c67
        i
          font-size: 20px

.copy,
.bot-links a
  font-size 0.8125rem
  color $brownish-grey

.bot-links a
  &:not(:last-child):after
    content: '|'
    display: inline-block
    margin: 0 5px
  &:hover
    color: $dirty-purple

@media screen and (max-width: 480px)
  .bot-links
    display: flex
    flex-direction: column
    a:not(:last-child):after
      display: none


// mobile menu
.btn-open-nav
  display: none;
  z-index: 10;
  position: absolute;
  top: 16px;
  right: 20px;
  padding: 0;
  width: 34px;
  height: 34px;
  background: transparent;
  outline: none;
  border: none;
  transition: all 0.5s;
  &:active,
  &:focus
    border: none
    outline: none
  @media screen and (max-width 525px)
    top 22px
    right 18px

// hamburger icon
.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  height: 2px;
  width: 24px;
  background: #593a53
  transition: all 0.25s;
  box-shadow: 0 0 1px 0 #bbb;
.main-menu-btn-icon:before
  content: '';
  top: -7px;
  left: 0;
.main-menu-btn-icon:after
  content: '';
  top: 7px;
  left: 0;

// x icon
.btn-open-nav.active .main-menu-btn-icon
  height: 0;
  background: transparent;
  &:before
    top: 0;
    transform: rotate(-45deg);
  &:after
    top: 0;
    transform: rotate(45deg);

@media (max-width: 800px)
  .btn-open-nav
    display: block
  .header-top__cont:not(.header-top__cont_open)
    .header-top__list
      display: none

.header-top__cont_open
  overflow-y: scroll
  z-index: 99
  position: fixed
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  top: 0
  bottom: 0
  left: 0
  right: 0
  padding: 0 20px 20px
  width: 100%
  height: 100%
  background-image: linear-gradient(45deg, #f7f7f7 0%, #e4e4e4 100%);
  .header-top__logo
    display: flex
    align-items: center
    height: 72px
  .header-top__menu
    width: 100%
    .header-top__list
      flex-direction: column

@media screen and (max-width: 520px)
  .mob-center
    text-align center

@media (max-width: 415px)
  .is-fullwidth_xs
    width 100%
  .buttons_no-mg .button:not(:last-child)
    margin-right 0