.is-flex_center
  justify-content center
  align-items center
  flex-direction column
.listpage
  padding 50px 40px 30px
  @media (max-width 375px)
    padding 10px 20px 10px
.logo-top
  max-width 80px
.middle-sec
  padding-top 50px
  max-width 700px
  @media (max-width 320px)
    padding-top: 10px
.text-block
  padding-top: 80px
  position relative
  @media (max-width 420px)
    padding-top: 40px
  @media (max-width 320px)
    padding-top:  20px
  &__img
    position absolute
    z-index -1
    &_1
      top 25%
      left 10%
      @media (max-width 420px)
        top 15%
      @media (max-width 320px)
        top 5%
    &_2
      top 20%
      left 45%
      @media (max-width 420px)
        top 10%
      @media (max-width 320px)
        top 5%
    &_3
      top 15%
      left 75%
      @media (max-width 420px)
        top 5%
      @media (max-width 320px)
        top 0

    &_4
      left 30%
      bottom -30%
      @media (max-width 768px)
        left 22%
      @media (max-width 420px)
        left 5%
.btn-lp
  position relative
  width 260px
  padding-bottom: 50px
  @media (max-width 420px)
    padding-bottom: 30px
  @media (max-width 320px)
    padding-bottom: 0
  img
    position absolute
    top: -90px
    left 0
    z-index -1